*{
    margin: 0;
    padding: 0;
}
body{
    background: url('image1.jpg') no-repeat;
    background-size: cover;
}
.card{
    margin: 234px;
}
@media only screen and (max-width:669px){
    .card{
        margin: 100px 100px 380px 100px  ;
    }
}
@media only screen and (max-width:594px){
    .card{
        margin: 150px 150px 303px  150px  ;
    }
}